<h4>Flight programs</h4>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Source airport code</th>
    <th scope="col">Destiny airport code</th>
    <th scope="col">Start time</th>
    <th scope="col">End time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flightProgram of flightPrograms; index as i"  routerLink="/flights/{{flightProgram.uuid}}">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg'" class="me-2"
           style="width: 20px" alt="flag image" >
      {{flightProgram.startTime }}
    </td>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Canada.svg'" class="me-2"
           style="width: 20px" alt="flag image" >
      {{ flightProgram.endTime }}
    </td>
    <td>{{ flightProgram.startTime  }}</td>
    <td>{{ flightProgram.endTime }}</td>
    <td>
      <button *ngIf="flightProgram.uuid"
        (click)="openDetails(flightProgram)"
        routerLink="check-in/{{flightProgram?.uuid }}"
        type="button" class="btn btn-link"
        ngbTooltip="See flight info">
        Details
      </button>
    </td>
  </tr>
  </tbody>
</table>
