<div class="container">
  <div style="max-width: 400px; margin: auto">
    <div>
      <h4>{{ flightProgramId ? "Update" : "Create" }} Flight Program</h4>
      <a
        routerLink="/flight-programs"
        style="padding-left: 0"
        class="btn btn-link"
        >Back to flight programs</a
      >
    </div>
    <form
      [formGroup]="flightProgramForm"
      [ngClass]="this.submitted ? 'was-validated' : ''"
    >
    <div class="mb-3">
      <label for="originAirport" class="form-label">Itinerary</label>
      <select
        formControlName="itineraryId"
        required
        id="originAirport"
        class="form-select"
      >
        <option selected>Choose...</option>
        <option *ngFor="let item of itineraries" value="{{ item.id }}">
          Itinerario {{item.id  }} from {{item.sourceAirport}} to {{item.destinyAirport}}
        </option>
      </select>
    </div>
      <div class="mb-3">
        <label for="originAirport" class="form-label">Origin airport</label>
        <select
          formControlName="sourceAirport"
          required
          id="originAirport"
          class="form-select"
        >
          <option selected>Choose...</option>
          <option *ngFor="let code of airportCodes" value="{{ code }}">
            {{ code }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="inputDestinyAirport" class="form-label"
          >Destiny airport</label
        >
        <select
          required
          formControlName="destinyAirport"
          required
          id="inputDestinyAirport"
          class="form-select"
        >
          <option selected>Choose...</option>
          <option *ngFor="let code of airportCodes" value="{{ code }}">
            {{ code }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="flightCode" class="form-label">Flight code</label>

        <input
          required
          formControlName="flightCode"
          type="text"
          class="form-control"
          id="flightCode"
        />
        <button (click)="generateCode()" class="btn btn-primary btn-sm">Generate Code</button>
      </div>

      <button (click)="onCreateSubmit()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
