
<div>
  <h4>Check-In for flight: <b>{{flightId}}</b></h4>
  <hr>
  <div class="row">
    <div class="col-md-4">

      <form class="form-control p-3 pt-2 bg-light" [formGroup]="passengerForm">
        <div class="">
          <label>Select a passenger</label>
          <select class="form-control"
                  formControlName="passenger"
                  (change)="selectPassenger()">
            <option *ngFor="let passenger of passengers"
                    [value]="passenger.id">
              {{passenger.name}} {{passenger.lastname}} - {{passenger.ci}} {{passenger.needAssistance ? '(A)' : '' }}
            </option>
          </select>
        </div>

      </form>

      <form class="form-control p-3 pt-2 mt-4 bg-light" [formGroup]="seatForm">
        <div style="display: flex;justify-content: space-between;align-items: center">
          <div>
            <label>Seat selected</label>
            <input  formControlName="seat"
                    class="form-control"

                    style="width: 245px">
          </div>
          <div >
            <button class="btn btn-primary mt-4"
                    type="button"
                    id="button-addon1"
                    [disabled]="!seatObjectSelected || passengerForm.invalid || seatForm.invalid"
                    (click)="assignSeat()">Confirm seat</button>
          </div>
        </div>

      </form>


      <form class="form-control mt-4 bg-light" [formGroup]="baggageForm">
        <div class="row">
          <div class="col-md-9">
            <label>Add baggage</label>
            <input class="form-control"
                   placeholder="Weight"
                   type="number"
                   formControlName="weight"
                   style="width: 245px">
          </div>
          <div class="col-md-3 d-grid gap-3 mb-2">
            <button class="btn btn-w btn-primary mt-4" type="button"
                    [disabled]="!baggageForm.valid || passengerForm.invalid"
                    (click)="addBaggage()">Add</button>
          </div>
        </div>

        <div class="mt-2" *ngIf="baggages && baggages.length > 0">
          <label>Baggages</label>
          <ul class="list-group">
            <li *ngFor="let baggage of baggages" class="list-group-item">
              <b>Weight: </b> {{baggage.weight}} kg <b>Type: </b> {{baggage.weight > 10 ? 'CHECKED_BAG' : 'CARRY_ON'}}
            </li>
          </ul>
        </div>

      </form>

    </div>


    <div class="col-md-8">
      <div class="">

        <div>
          <h5>
            Select a seat
          </h5>
        </div>
        <div class="col-lg-12 seat-container">
          <div *ngFor="let seatrow of seatmap ">
            <div class="col-12 pricing-label"
                 *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{seatrow.seatPricingInformation}}</div>
            <div class="seatrow container">
              <div *ngIf="seatChartConfig?.showRowsLabel">
                <div class="row-label">  {{seatrow.seatRowLabel}} </div>
              </div>
              <div *ngFor="let seatobj of seatrow.seats">
                <div class="seat-item seat-space" style="color:white ; background-color:white"
                     *ngIf="seatobj.seatLabel == ''"> &nbsp;
                </div>
                <div ngbTooltip="Seat (row-number) : {{seatobj.seatLabel}} " placement="top"
                     [ngClass]="{ 'seat-item' : true ,
                     'seat-available' : seatobj.status == 'FREE' ,
                     'seat-BOOKED' : seatobj.status == 'BOOKED' ,
                     'seat-unavailable' : seatobj.status == 'unavailable'
                     }"
                     (click)="selectSeat(seatobj)"
                     *ngIf="(seatobj.status == 'FREE' || seatobj.status == 'BOOKED' )&& seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>

                <div ngbTooltip="Seat not available" placement="top"
                     [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                     *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


